<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Resumo Mensal</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/resumo.css">
    <link rel="icon" href="../static/finanças.jpeg" type="image/x-icon">
</head>
<body>
    <h1>Resumo Mensal</h1>
    <p>Entradas: R$ {{ entradas }}</p>
    <p>Saídas: R$ {{ saidas }}</p>
    <p>Saldo: R$ {{ saldo_atual }}</p>
    <div>
        <a href="/exportar_csv" class="btn">Exportar para CSV</a>
        <a href="/exportar_pdf" class="btn">Exportar para PDF</a>
    </div>
    
    <h2>Gráfico Resumo Mensal</h2>
    <canvas id="resumoChart" width="400" height="200"></canvas>
    <p>Total: R$ {{ total }}</p>

    <script>
        var ctx = document.getElementById('resumoChart').getContext('2d');
        var resumoChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Entradas', 'Saídas', 'Total'],
                datasets: [{
                    label: 'Valor em R$',
                    data: [{{ entradas }}, {{ saidas }}, {{ total }}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <a href="/">Voltar</a>
</body>
</html>
